@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$font: "Slabo 27px", sans-serif;
$viking: #4ECDC4;
$limon: #C7F464;
$grey: #556270;
$result: #444444;
$circle-color: #cccccc;

.circle {
  background-color: $circle-color !important;
  color: black !important;
  font-weight: 700;
}


* {
  outline: none;
}

#output {
  color: $result;
}

body{
  font-family: $font;
  /*text-align: center;*/
  padding-top: 50px;
}

.play, .round {
  text-align:center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

#score {
  font-size: 1.5em;
}

button{ 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px;
  &:first-of-type{
    background: $viking;
    }
  &:nth-of-type(2){
    background: $limon;
  }
  &:nth-of-type(3){
    background: $grey;
    color: #ffffff;
  }
  
}

/*.hidden {
  display: none;
}*/

#new-game {
    background: $limon;
    border-radius: 10px;
    font-weight: 900;
    width: 120px;
    height: 40px;
    color: #444444;
 }

 /*MODAL*/

 .overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	
	&.show {
		display: block;
	}
}

.modal {
    background: $viking;
    display: none;
    width: 700px;
    //height: 50px;
    padding: 20px;
    line-height: 1.5em;
    border-radius: 10px;
    color: black;
    font-size: 1.2em;
    position: absolute;
    top: 40%;
    left: 30%;
    //-webkit-transform: translate3d(-50%, -50%, 0);
    //transform: translate3d(-50%, -50%, 0);
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    font-weight:900;

	&.show {
    display: block;
   
	}
	
	.close {
		position: absolute;
		right: 0;
		top: -10px;
		padding: 5px;
		color: #000;
    text-decoration: none;
    font-size: 0.8em;
  } 

  table {
    font-size: 0.8em;
    font-weight: normal;
    th {
      padding-right: 30px;
    }
  }
}


