@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$font: "Slabo 27px", sans-serif;
$viking: #4ECDC4;
$limon: #C7F464;
$grey: #556270;
$result: #444444;
$circle-color: #cccccc;

.circle {
  background-color: $circle-color !important;
  color: black !important;
  font-weight: 700;
}


* {
  outline: none;
}

#output {
  color: $result;
}

body{
  font-family: $font;
  /*text-align: center;*/
  padding-top: 50px;
}

.play, .round {
  text-align:center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

#score {
  font-size: 1.5em;
}

button{ 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px;
  &:first-of-type{
    background: $viking;
    }
  &:nth-of-type(2){
    background: $limon;
  }
  &:nth-of-type(3){
    background: $grey;
    color: #ffffff;
  }
  
}

.hidden {
  display: none;
}

#new-game {
    background: $limon;
    border-radius: 10px;
    font-weight: 900;
    width: 120px;
    height: 40px;
    color: #444444;
 }

#freddy img {
  width: 200px;
}

