@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$font: "Slabo 27px", sans-serif;
$viking: #4ECDC4;
$limon: #C7F464;
$grey: #556270;
$result: #444444;
$circle-color: #cccccc;

.circle {
  background-color: $circle-color !important;
  color: black !important;
  font-weight: 700;
}


* {
  outline: none;
}

#output {
  color: $result;
}

body{
  font-family: $font;
  /*text-align: center;*/
  padding-top: 50px;
}

.row::before,
.row::after {
  display: table;
  content: '';
} 

.row::after {
  clear: both;
}

.play, .round {
  text-align:center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

#score {
  font-size: 1.5em;
}

button{ 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px;
  &:first-of-type{
    background: $viking;
    }
  &:nth-of-type(2){
    background: $limon;
  }
  &:nth-of-type(3){
    background: $grey;
    color: #ffffff;
  }
  
}

%freddy {
 
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.freddy {
  @extend %freddy;
  background-image: url('../photo/sleep.svg');
  animation: sleep 7s infinite;
  animation-timing-function: easy-out;
  &:hover{ 
    animation-play-state:paused;
  }
}

@keyframes sleep {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(-5px, -5px);}
  50% {transform: translate(0px, 0px);}
  75% {transform: translate(-10px, -30px);}
  100% {transform: translate(0px, 0px);}
}

.freddy-smile {
  @extend %freddy;
  background-image: url('../photo/smile.svg');
  animation: smile 3s infinite;
  animation-timing-function: easy-out;
  &:hover{ 
    animation-play-state:paused;
  }
} 

@keyframes smile {
  0% {transform: translate(0px, 0px);}
  25% {transform: matrix(1.1, 0, 0, 1.1, -22, -55);}
  50% {transform: translate(0px, 0px); transform: scale(1,1);}
  75% {transform: matrix(1.1, 0, 0, 1.1, 33, -77);}
  100% {transform: translate(0px, 0px); transform: scale(1,1);}
}

.freddy-tears {
  @extend %freddy;
  background-image: url('../photo/tears.svg');
  animation: tears 10s infinite;
  animation-timing-function: easy-out;
  &:hover{ 
    animation-play-state:paused;
  }
}


@keyframes tears {
  0% {transform: translate(0px, 0px);}
  25% {transform: matrix(1.1, 0, 0, 1.1, -22, -55);}
  50% {transform: translate(0px, 0px); transform: scale(1,1);}
  75% {transform: matrix(1.1, 0, 0, 1.1, 110, -44);}
  100% {transform: translate(0px, 0px); transform: scale(1,1);}
}

#new-game {
    background: $limon;
    border-radius: 10px;
    font-weight: 900;
    width: 120px;
    height: 40px;
    color: #444444;
 }

 /*MODAL*/

 .overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	
	&.show {
		display: block;
	}
}

.modal {
    background: $viking;
    display: none;
    //height: 50px;
    padding: 20px;
    line-height: 1.7em;
    border-radius: 10px;
    color: #444444;
    font-size: 1.1em;
    position: absolute;
    //top: 70%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    font-weight:900;
    text-align: center;
  & span {
    color: black;
    font-size: 1.4em;
    display: block;
  }  

	&.show {
    display: block;
   
	}
	
	.close {
		position: absolute;
		right: 0;
		top: -10px;
		padding: 5px;
		color: #000;
    text-decoration: none;
    font-size: 0.8em;
  } 

  table {
    font-size: 0.8em;
    font-weight: normal;
    th {
      padding-right: 30px;
    }
  }
}


